/* CSS Document */

body{
	margin: 0px;
	padding: 0px;
}

header{
	width: 100%;
	height: 800px;
	background-image: url();
}

video{
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	top: auto;
	left: auto;
	position: fixed;
	z-index: 0;
	
}

h1{
	color: aliceblue;
}

.intro p{
	color: aliceblue;
}

section, footer, .intro{
	position: relative;
}

.topnav{
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
	background-color: #52B4FD;
}

.topnav a.logo{
	display: block;
	float: left;
}

.topnav a.logo img{
	height: 60px;
	width: auto;
	float: left;
}

.navigation{
	float: right;
}

.navigation a{
	float: left;
	color: aqua;
	background-color: #135CB3;
	padding: 20px;
	margin: 10px;
	text-decoration: none;
	font-size: 17px;
	/*animation*/
	transition-property: all;
	transition-duration: 1s;
}

.navigation a:hover{
	background-color: aquamarine;
	color: #020961;
}

.container{
	max-width: 1024px;
	margin: auto;
	padding: 20px;
}

.intro{
	flex: 1;
	margin: 50px;
	padding: 5px;
	display: block;
	
}


.flex{
	display: flex;
	width: auto;
}

.colonne{
	flex: 1;
	margin: 5px;
	padding: 5px;
	}

.colonne p{
	margin-left: 5px;
	margin-right: 5px;
}

.colonne img{
	width: 100%;
}

section.flex .colonne{
	margin: 0;
	padding: 50px
}

footer{
	background-color: chocolate;
	margin: 0;
	padding: 50px;
	text-align: center;
}

.network img{
	width: 90px;
	height: auto;
	margin: 10px 20px;
}



footer p{
	font-size: 20px;
	text-align: center
}

/*effect photo*/
.colonne .face.face1 .bloc img{
	transition: 0.5s;
	-webkit-filter: contrast(0.5) grayscale(1) blur(5px);
 	filter: contrast(0.5) grayscale(1) blur(5px);
}
.colonne:hover .face.face1 .bloc img{
	-webkit-filter: contrast(1.5) grayscale(0) blur(0);
	 filter: contrast(1.5) grayscale(0) blur(0);
	}
/*HERE*/
.topnav .icon {
	display: none;
	background-color: #333;
	}

#section1{
	height: 600px;
}

#section1 .colonne{
	padding: 0;
	background-color: transparent;
}

.colonne .face{
	width: 100%;
	height: 200px;
	overflow: hidden;
	transition: 0.5s;
}

.colonne .face.face1{
	position: relative;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateY(100px);
	z-index: 1;
}
.colonne:hover .face.face1{
	transform: translateY(0);
}
.colonne .face.face1 .bloc h2{
	color: white;
	display: block;
	position: absolute;
	z-index: 200;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -100%);
	text-transform: uppercase;
	transition: 0.5s;
	opacity: 1;
}
.colonne:hover .face.face1 .bloc h2{
	opacity: 0;
}
.colonne .face.face2{
	position: relative;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	box-sizing: border-box;
	box-shadow: 0 20px 50px rgba(0,0,0,0.8);
	transform: translateY(-100px);
	overflow: hidden;
}
.colonne:hover .face.face2{
	transform: translateY(0);
	overflow: none;
	height: auto;
}
@media screen and (max-width: 600px){
	.topnav a {
		display: none;
	   }
	   .topnav a.icon{
		display: block;
		position: fixed;
		right: 0;
		top: 0;
		}

		.topnav.responsive .fa-navicon:before, .topnav.responsive .fa-reorder:before, .topnav.responsive .fa-bars:before {
 		content: "\f00d";
		}

		.topnav.responsive {
			position: fixed;
			}
			 .topnav.responsive .icon {
			 position: absolute;
			 right: 0;
			 top: 0;
			 }
			.topnav.responsive .navigation{
			float: none;
			}
			 .topnav.responsive a {
			 float: none;
			 display: block;
			 text-align: left;
			 }
			.topnav.responsive a.logo{
			display: none;
			}		

	.container{
		width: 100%;
		padding: 0cm;
	}

	header{
		height: auto;
	}

	.intro{
		width: auto;
	}

	.flex{
		display: block;
	}
	
}



/*Hello world*/
/*auskour, g mal a la tete*/